.container {
  color: rgb(17, 1, 70);
  margin-top: 50px;
}
.title {
  margin: 0 0 15px 0;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
.feedback__block {
  margin-bottom: 30px;
  width: 500px;
}

.feedback__list,
.statistics__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feedback__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.feedback__btn {
  position: relative;
  width: 100px;
  padding: 20px;
  font-size: 16px;
  font-weight: 700;
  background-color: rgb(175, 172, 194);
  border: transparent;
  transform: rotate(-2deg);
}
.feedback__btn:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(130, 121, 189);
}
.feedback__btn:after {
  content: '';
  position: absolute;
  border: 3px solid rgb(17, 1, 70);
  bottom: 5px;
  left: 5px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}

.feedback__btn:hover:after {
  bottom: 1px;
  left: 1px;
}
.statistics__block {
  width: 500px;
}
.statistics__text {
  font-size: 20px;
  font-weight: 500;
}
